<a href="https://colab.research.google.com/github/jumbokh/csu1112-class/blob/main/class/face/stringpd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [24]:
def str2frame(estr, sep = ',', lineterm = '\n', set_header = True):
    dat = [x.split(sep) for x in estr.split(lineterm)][1:-1]
    df = pd.DataFrame(dat)
    if set_header:
        df = df.T.set_index(0, drop = True).T # flip, set ix, flip back
    return df

In [25]:
df = pd.read_csv('d.csv')

In [26]:
print(df)

                                    identity   source_x   source_y  \
0    /content/photos/faces/tseyu/tseyu01.jpg        251        206
1  /content/photos/faces/yanwen/yanwen01.jpg        251        206
2    /content/photos/faces/tseyu/tseyu01.jpg        251        206

    source_w
0          354
1          354
2          354

In [27]:
df.head(3)

,identity,source_x,source_y,source_w
0,/content/photos/faces/tseyu/tseyu01.jpg,251,206,354
1,/content/photos/faces/yanwen/yanwen01.jpg,251,206,354
2,/content/photos/faces/tseyu/tseyu01.jpg,251,206,354

In [28]:
name = df['identity'][0].split('/')[-2]

In [29]:
print(name)

tseyu