# 讀取0050成分股

參考資料：

* https://www.yuantaetfs.com/#/FundWeights/1066

In [1]:
import pandas as pd

In [2]:
url = "http://www.yuantaetfs.com/api/StkWeights?date=&fundid=1066"

In [3]:
df = pd.read_json(url)

In [4]:
df.head()

,code,ym,name,ename,weights,qty
0,2330,NaN,台積電,Taiwan Semiconductor Manufacturing Co. Ltd.,47.27,246959362
1,2317,NaN,鴻海,HON HAI PRECISION IND. CO. LTD.,4.58,122722263
2,2454,NaN,聯發科,MediaTek Inc.,4.32,15300843
3,2308,NaN,台達電,DELTA ELECTRONICS INC.,2.40,22217139
4,2303,NaN,聯電,UNITED MICROELECTRONICS CORP.,2.29,120400703

In [6]:
print(len(df))

50