# 寫入 dataframe 到 sqlite 中

In [1]:
!pip install yfinance --upgrade --no-cache-dir

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.9/dist-packages (0.2.14)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.9/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.9/dist-packages (from yfinance) (4.11.2)
Requirement already satisfied: cryptography>=3.3.2 in /usr/local/lib/python3.9/dist-packages (from yfinance) (40.0.1)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.9/dist-packages (from yfinance) (2022.7.1)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.9/dist-packages (from yfinance) (4.9.2)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.9/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.9/dist-packages (from yfinance) (2.3.6)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.1)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.22.4)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.9/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.9/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.9/dist-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.9/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (3.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: pycparser in /usr/local/lib/python3.9/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)

In [2]:
import pandas as pd
from pandas_datareader import data as pdr
import yfinance as yf
yf.pdr_override()

In [3]:
start = '2015-01-01'
end = '2018-12-31'
df = pdr.get_data_yahoo("TSLA",start=start,end=end)

[*********************100%***********************]  1 of 1 completed

In [4]:
import sqlite3

In [5]:
conn = sqlite3.connect("test.db")

In [6]:
df.to_sql('TSLA', conn, if_exists='append')

1005

In [7]:
df = pd.read_sql('select * from TSLA', conn, parse_dates=['Date'])

In [8]:
df.sort_values('Date').head()

        Date       Open       High        Low      Close  Adj Close    Volume
0 2015-01-02  14.858000  14.883333  14.217333  14.620667  14.620667  71466000
1 2015-01-05  14.303333  14.433333  13.810667  14.006000  14.006000  80527500
2 2015-01-06  14.004000  14.280000  13.614000  14.085333  14.085333  93928500
3 2015-01-07  14.223333  14.318667  13.985333  14.063333  14.063333  44526000
4 2015-01-08  14.187333  14.253333  14.000667  14.041333  14.041333  51637500

In [9]:
df = df.set_index('Date')

In [10]:
df.sort_index().head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2015-01-02  14.858000  14.883333  14.217333  14.620667  14.620667  71466000
2015-01-05  14.303333  14.433333  13.810667  14.006000  14.006000  80527500
2015-01-06  14.004000  14.280000  13.614000  14.085333  14.085333  93928500
2015-01-07  14.223333  14.318667  13.985333  14.063333  14.063333  44526000
2015-01-08  14.187333  14.253333  14.000667  14.041333  14.041333  51637500

In [11]:
df.drop_duplicates()

                 Open       High        Low      Close  Adj Close     Volume
Date
2015-01-02  14.858000  14.883333  14.217333  14.620667  14.620667   71466000
2015-01-05  14.303333  14.433333  13.810667  14.006000  14.006000   80527500
2015-01-06  14.004000  14.280000  13.614000  14.085333  14.085333   93928500
2015-01-07  14.223333  14.318667  13.985333  14.063333  14.063333   44526000
2015-01-08  14.187333  14.253333  14.000667  14.041333  14.041333   51637500
...               ...        ...        ...        ...        ...        ...
2018-12-21  21.160000  21.564667  20.829332  21.318001  21.318001  120252000
2018-12-24  20.900000  20.966667  19.680000  19.692667  19.692667   83398500
2018-12-26  20.000000  21.798000  19.606001  21.739332  21.739332  122446500
2018-12-27  21.322666  21.478001  20.100000  21.075333  21.075333  128626500
2018-12-28  21.540001  22.416000  21.227333  22.257999  22.257999  149085000

[1005 rows x 6 columns]