# 計算個股投資報酬率

## 載入需要的模組

In [1]:
!pip install yfinance --upgrade --no-cache-dir

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.9/dist-packages (0.2.14)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.22.4)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.9/dist-packages (from yfinance) (4.11.2)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.9/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.9/dist-packages (from yfinance) (2022.7.1)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.1)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.9/dist-packages (from yfinance) (2.3.6)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.9/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: cryptography>=3.3.2 in /usr/local/lib/python3.9/dist-packages (from yfinance) (40.0.1)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.9/dist-packages (from yfinance) (4.9.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.9/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.9/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.9/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.9/dist-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (3.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: pycparser in /usr/local/lib/python3.9/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)

In [2]:
import pandas as pd
from pandas_datareader import data as pdr
import yfinance as yf
yf.pdr_override()

## 設定資料的起始範圍

In [3]:
start = "1990-01-01"
end = "2019-12-31"

## 讀取個股歷史資料

In [4]:
df = pdr.get_data_yahoo("TSLA",start=start,end=end)

[*********************100%***********************]  1 of 1 completed

## 複習一下如何檢視 DataFrame 內容

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2393 entries, 2010-06-29 to 2019-12-30
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       2393 non-null   float64
 1   High       2393 non-null   float64
 2   Low        2393 non-null   float64
 3   Close      2393 non-null   float64
 4   Adj Close  2393 non-null   float64
 5   Volume     2393 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 130.9 KB

In [6]:
df.head()

                Open      High       Low     Close  Adj Close     Volume
Date
2010-06-29  1.266667  1.666667  1.169333  1.592667   1.592667  281494500
2010-06-30  1.719333  2.028000  1.553333  1.588667   1.588667  257806500
2010-07-01  1.666667  1.728000  1.351333  1.464000   1.464000  123282000
2010-07-02  1.533333  1.540000  1.247333  1.280000   1.280000   77097000
2010-07-06  1.333333  1.333333  1.055333  1.074000   1.074000  103003500

In [7]:
df.tail()

                 Open       High        Low      Close  Adj Close     Volume
Date
2019-12-23  27.452000  28.134001  27.333332  27.948000  27.948000  199794000
2019-12-24  27.890667  28.364668  27.512667  28.350000  28.350000  120820500
2019-12-26  28.527332  28.898666  28.423332  28.729334  28.729334  159508500
2019-12-27  29.000000  29.020666  28.407333  28.691999  28.691999  149185500
2019-12-30  28.586000  28.600000  27.284000  27.646667  27.646667  188796000

## 複習一下 DataFrame 的操作

In [8]:
df.iloc[0]

Open         1.266667e+00
High         1.666667e+00
Low          1.169333e+00
Close        1.592667e+00
Adj Close    1.592667e+00
Volume       2.814945e+08
Name: 2010-06-29 00:00:00, dtype: float64

In [9]:
df.iloc[-1]

Open         2.858600e+01
High         2.860000e+01
Low          2.728400e+01
Close        2.764667e+01
Adj Close    2.764667e+01
Volume       1.887960e+08
Name: 2019-12-30 00:00:00, dtype: float64

In [10]:
df.loc['2017-01-01':'2017-01-10']

                 Open       High        Low      Close  Adj Close     Volume
Date
2017-01-03  14.324000  14.688667  14.064000  14.466000  14.466000   88849500
2017-01-04  14.316667  15.200000  14.287333  15.132667  15.132667  168202500
2017-01-05  15.094667  15.165333  14.796667  15.116667  15.116667   88675500
2017-01-06  15.128667  15.354000  15.030000  15.267333  15.267333   82918500
2017-01-09  15.264667  15.461333  15.200000  15.418667  15.418667   59692500
2017-01-10  15.466667  15.466667  15.126000  15.324667  15.324667   54900000

## 計算投資報酬率

In [11]:
df.iloc[-1]['Adj Close']/df.iloc[0]['Adj Close']

17.358724557660146