<a href="https://colab.research.google.com/github/jumbokh/csu1112-class/blob/main/class/yfinance_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install yfinance --upgrade --no-cache-dir

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.9/dist-packages (0.2.14)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.9/dist-packages (from yfinance) (2022.7.1)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.22.4)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.9/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.9/dist-packages (from yfinance) (4.9.2)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.9/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.9/dist-packages (from yfinance) (4.11.2)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.1)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: cryptography>=3.3.2 in /usr/local/lib/python3.9/dist-packages (from yfinance) (40.0.1)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.9/dist-packages (from yfinance) (2.3.6)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.9/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.9/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.9/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.9/dist-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (3.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (1.26.15)
Requirement already satisfied: pycparser in /usr/local/lib/python3.9/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)

In [2]:
import pandas as pd
from pandas_datareader import data as pdr
import yfinance as yf

In [3]:
yf.pdr_override()

In [4]:
from datetime import datetime
start = datetime(2017, 1, 1)
end = datetime(2017, 12, 31)

In [5]:
# US-INTC
intel = pdr.get_data_yahoo("INTC",start=start,end=end)

[*********************100%***********************]  1 of 1 completed

In [6]:
intel.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2017-01-03  36.610001  36.930000  36.270000  36.599998  30.613667  20196500
2017-01-04  36.709999  36.770000  36.340000  36.410000  30.454746  15915700
2017-01-05  36.450001  36.720001  36.310001  36.349998  30.404558  13986000
2017-01-06  36.590000  36.680000  36.189999  36.480000  30.513285  15114000
2017-01-09  36.480000  36.889999  36.480000  36.610001  30.622032  19461400

In [7]:
intel.tail()

                 Open       High        Low      Close  Adj Close    Volume
Date
2017-12-22  46.330002  47.020000  46.020000  46.700001  40.167381  33913500
2017-12-26  46.279999  46.470001  45.950001  46.080002  39.634106  15533300
2017-12-27  46.110001  46.360001  46.000000  46.110001  39.659912  13359700
2017-12-28  46.360001  46.360001  45.950001  46.220001  39.754528   9504400
2017-12-29  46.209999  46.490002  46.090000  46.160000  39.702915  17394500

In [8]:
rate = intel['Close'][-1]/intel['Close'][0]
print(rate)

1.261202234203661

In [9]:
# 假設原始投資: $30000 美金
invest = 30000
profit = invest * (rate-1)
print(profit)

7836.067026109832

In [10]:
exchrate = 30.50

In [11]:
NT = profit * exchrate
print(NT)

239000.0442963499

In [12]:
tsmc = pdr.get_data_yahoo("2330.TW",start=start,end=end)

[*********************100%***********************]  1 of 1 completed

In [17]:
rate = tsmc['Close'][-1]/tsmc['Close'][0]
invest = 30000
profit = invest * (rate-1)
print('{:.2f}'.format(profit))

7622.95